

services:
      postgres: 
        image: postgres:17.6
        ports: 
          - 5432:5432
        environment:
          POSTGRES_DB: myDatabase
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: admin